/* General */
$fontSize:14px;
$bodyBgColor:#edf0f5;
$textColor:#333333;
$textSecondaryColor:#707070;
$borderRadius:3px;
$dividerColor:#e3e3e3;
$transitionDuration:.2s;
$maskBgColor:#424242;

/* Menu Common */
$menuitemBadgeBgColor:#007be5;
$menuitemBadgeColor:#ffffff;
$submenuFontSize:13px;
$menuitemActiveRouteColor:#1fa1fc;

/* Menu Light */
$menuBgColorFirst:#f3f4f9;
$menuBgColorLast:#d7dbe8;
$menuitemColor:#232428;
$menuitemHoverColor:#0388e5;
$menuitemActiveColor:#0388e5;
$menuitemActiveBgColor:#ffffff;
$menuitemBorderColor:rgba(207, 211, 224, 0.6);

/* Menu Dark */
$menuDarkBgColorFirst:#4d505b;
$menuDarkBgColorLast:#3b3e47;
$menuitemDarkColor:#ffffff;
$menuitemDarkHoverColor:#0388e5;
$menuitemDarkActiveColor:#0388e5;
$menuitemDarkActiveBgColor:#2e3035;
$menuitemDarkBorderColor:rgba(52, 56, 65, 0.6);

/* Topbar */
$topbarLeftBgColor:#0388E5;
$topbarRightBgColor:#07BDF4;
$topbarItemBadgeBgColor:#ef6262;
$topbarItemBadgeColor:#ffffff;
$topbarItemColor:#ffffff;
$topbarItemHoverColor:#c3e8fb;
$topbarSearchInputBorderBottomColor:#ffffff;
$topbarSearchInputColor:#ffffff;

/* Footer */
$footerBgColor:#ffffff;
@mixin border-radius($val) {
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
    border-radius: $val;
}

@mixin border-radius-right($val) {
    -moz-border-radius-topright: $val;
    -webkit-border-top-right-radius: $val;
    border-top-right-radius: $val;
    -moz-border-radius-bottomright: $val;
    -webkit-border-bottom-right-radius: $val;
    border-bottom-right-radius: $val; 
}

@mixin border-radius-left($val) {
    -moz-border-radius-topleft: $val;
    -webkit-border-top-left-radius: $val;
    border-top-left-radius: $val;
    -moz-border-radius-bottomleft: $val;
    -webkit-border-bottom-left-radius: $val;
    border-bottom-left-radius: $val;
}

@mixin border-radius-top($val) {
    -moz-border-radius-topleft: $val;
    -webkit-border-top-left-radius: $val;
    border-top-left-radius: $val;
    -moz-border-radius-topright: $val;
    -webkit-border-top-right-radius: $val;
    border-top-right-radius: $val;
}

@mixin border-radius-bottom($val) {
    -moz-border-radius-bottomleft: $val;
    -webkit-border-bottom-left-radius: $val;
    border-bottom-left-radius: $val;
    -moz-border-radius-bottomright: $val;
    -webkit-border-bottom-right-radius: $val;
    border-bottom-right-radius: $val;
}

@mixin linear-gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin linear-gradient-left($left, $right){
    background: $left; /* Old browsers */
    background: -moz-linear-gradient(left,  $left 0%, $right 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$left), color-stop(100%,$right)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  $left 0%,$right 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  $left 0%,$right 100%); /* IE10+ */
    background: linear-gradient(to right,  $left 0%,$right 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$left, endColorstr=$right,GradientType=1 ); /* IE6-9 */
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property) {
    -webkit-transition-property: $property;
    -moz-transition-property: $property;
    -ms-transition-property: $property;
    -o-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration) {
    -moz-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    -o-transition-duration: $duration;
    transition-duration: $duration;
}

@mixin transition-timing-function($function) {
    -webkit-transition-timing-function: $function;
    -moz-transition-timing-function: $function;
    -o-transition-timing-function: $function;
    transition-timing-function: $function;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

@mixin shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.layout-topbar {
    position: fixed;
    height: 50px;
    padding: .7em 1.5em 0em 1.5em;
    color: #ffffff;
    z-index: 999;
    right: 0;
    @include clearfix();
    @include linear-gradient-left($topbarLeftBgColor,$topbarRightBgColor);
    @include transition(left $transitionDuration);

    .layout-topbar-icons {
        float: right;
        display: block;
        -moz-animation-duration: .5s;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;

        button {
            position: relative;
            color: $topbarItemColor;
            margin-left: 20px;
            display: inline-block;
            text-decoration: none;
            @include transition(color $transitionDuration);
            overflow: visible;

            &:hover {
                color: $topbarItemHoverColor;
            }

            span {
                &.layout-topbar-icon {
                    font-size: 2em;
                }

                &.layout-topbar-item-text {
                    font-size: 20px;
                    display: none;
                }

                &.layout-topbar-badge {
                    position: absolute;
                    font-size: 10px;
                    right: -5px;
                    top: -5px;
                    width: 16px;
                    height: 16px;
                    text-align: center;
                    line-height: 16px;
                    color: $topbarItemBadgeColor;
                    background-color: $topbarItemBadgeBgColor;
                    @include border-radius(50%);
                }
            }
        }

        .layout-topbar-search {
            padding: 0;
            position: relative;
            display: inline-block;
            top: -4px;

            input {
                display: inline-block;
                border: 0 none;
                font-size: $fontSize;
                background: transparent;
                border-bottom: 2px solid $topbarSearchInputBorderBottomColor;
                outline: 0 none;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: $topbarSearchInputColor;
                width: 100px;
                padding: 1px 20px 1px 1px;
                margin: 0px;
                @include border-radius(2px);

                &::-webkit-input-placeholder { color:$topbarSearchInputColor; opacity: .7; @include transition(opacity $transitionDuration);}
                &:-moz-placeholder { color:$topbarSearchInputColor; opacity: .7; @include transition(opacity $transitionDuration);}
                &::-moz-placeholder { color:$topbarSearchInputColor; opacity: .7; @include transition(opacity $transitionDuration);}
                &:-ms-input-placeholder { color:$topbarSearchInputColor; opacity: .7; @include transition(opacity $transitionDuration);}
            }

            .layout-topbar-search-icon {
                font-size: 18px;
                position: absolute;
                top: -1px;
                right: 0px;
            }

            &:hover {
                input {
                    border-bottom-color: $topbarItemHoverColor;
                    &::-webkit-input-placeholder { opacity: 1 }
                    &:-moz-placeholder {opacity: 1}
                    &::-moz-placeholder {opacity: 1}
                    &:-ms-input-placeholder {opacity: 1}
                }

                .layout-topbar-search-icon {
                    color: $topbarItemHoverColor;
                }
            }
        }
    }

    .layout-menu-button {
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        color: $topbarItemColor;
        @include transition(color $transitionDuration);

        span {
            font-size: 2em;
        }

        &:hover {
            color: $topbarItemHoverColor;
        }
    }

    button {
        cursor: pointer;
    }
}